
@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {

  --grey-form : rgb(250, 250, 250);

  font-family: system-ui, Roboto, Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

button,
input
{
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div,
form,
h2,
fieldset {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#footer {
  color: white;
  font-weight: 100;
  align-self: center;
  font-size: 12px;
}

a {
  color: white;
}

#form-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100vh;
}


#image-container {
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  background-image: url(./background.avif);
  background-size: cover;
  height: 100vh;
  width: 40vw;
  justify-content: space-between;
}

div#odin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.4);
}

img {
  padding: 0;
  margin: 0;
  width: auto;
  height: 100px;
}

div#odin>p {
  padding-top: 20px;
  margin: 0;
  font-family: 'Norse Bold';
  font-size: 70px;
  color: white;
}

#form-header {
  display: flex;
  flex: 1 1 auto;
  background-color: var(--grey-form);
  align-items: center;
}


form {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

label {
  font-size: 0.7rem;
  font-weight: 500;
  color: rgb(82, 82, 82);
}

div.row {
  display: flex;
  justify-content: space-evenly;
}

div.col {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

div#form-header>p {
  padding: 0px 0px 0px 30px;
  font-size: 100%;
  font-weight: 600;
  width: 45ch;
}

input {
  flex: 1 0 auto;
  width: 20vw;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  padding: 2px;
}

input:focus {
  outline: none;
  box-shadow: 1px 1px 2px grey;
  border-radius: 3px;
  border: 1px solid rgb(56, 56, 255);
}

input:invalid {
  border: 1px solid red;
}

input[required]:valid {
  border: 1px solid green;
}

div#button {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-form);
  flex: 1 1 auto;
  justify-content: flex-start;
}

div#button>p {
  margin: 0 0 0 40px;
}

a#login {
  font-weight: 500;
  text-decoration-line: none;
  color: #596D48;
}

h2 {
  font-weight: 450;
  padding: 10px 0px 0px 30px;
  margin: 0;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 0px hidden grey;
  box-shadow: 0px 5px 10px #e4e1e1;
  padding: 20px 0px 20px 30px;
  margin: 0 0 5px 0;
  gap: 7px;
}

button[type="submit"] {
  background-color: #596D48;
  color: white;
  border: hidden;
  border-radius: 5px;
  box-shadow: 0px 2px 5px black;
  height: 2.5rem;
  width: 12rem;
  margin: 40px;
}

button[type="submit"]:active {
  box-shadow: 0 0 #666;
  transform: translateY(4px);
}